* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    color: rgb(44, 40, 40);
}

:root {
    --primary-color: #6200ee;
    --secondary-color: #bb86fc;
}